In [26]:
import numpy as np
import mne
%matplotlib inline
import matplotlib.pyplot as plt
import scipy 
from scipy.stats import hmean,trim_mean
import pandas as pd

df = pd.read_json('test.json')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
0,0,11607.189936,14893.280850,15708.377604,1512.585225,6591.296067,-898.787251,18075.431582,16503.607833,13248.552848,...,19619.810818,20210.998224,16981.732797,3983.475638,21690.807722,6378.633979,17877.619873,1655.989342,-1911.685458,16699.364974
1,100,11555.578653,15299.300894,15693.479940,1436.988655,6829.300896,-1011.861941,18168.177774,16772.396012,13415.294053,...,19748.022261,20310.568130,17048.662575,3809.184469,21818.078421,6353.064430,18072.641849,1576.326706,-1874.566798,16210.705241
2,200,11540.766520,15416.880237,15683.965824,1412.987570,6884.302009,-1041.261801,18190.168586,16843.484548,13460.361477,...,19777.992983,20333.166334,17063.569609,3765.031605,21847.284388,6344.277508,18118.784003,1554.908005,-1870.197107,16095.181204
3,300,11512.506610,15604.173968,15673.798529,1376.670943,7001.180145,-1100.937336,18231.458615,16965.471244,13537.960218,...,19839.064039,20381.218309,17094.423257,3671.677613,21905.517271,6329.353178,18212.366861,1512.629428,-1858.585829,15858.023247
4,400,11517.604170,15520.944267,15677.104511,1387.739775,6962.857434,-1087.945724,18217.714150,16920.458397,13501.012309,...,19815.927383,20364.087903,17081.147297,3694.949214,21884.120521,6331.899204,18181.946706,1522.776348,-1860.484833,15916.993788

In [31]:
fp1 = df.drop(df.columns[2:62], axis=1, inplace=True)

             0             1
0            0  11607.189936
1          100  11555.578653
2          200  11540.766520
3          300  11512.506610
4          400  11517.604170
5          500  11550.854266
6          600  11624.342274
7          700  11700.544140
8          800  11726.635403
9          900  11718.698885
10        1000  11711.965857
11        1100  11682.329261
12        1200  11658.595443
13        1300  11650.827910
14        1400  11649.607798
15        1500  11654.838807
16        1600  11659.355010
17        1700  11657.288646
18        1800  11646.070424
19        1900  11644.777372
20        2000  11640.201827
21        2100  11623.000760
22        2200  11600.671950
23        2300  11589.676330
24        2400  11593.505931
25        2500  11584.284060
26        2600  11578.856694
27        2700  11525.444082
28        2800  11488.939438
29        2900  11472.723305
...        ...           ...
18046  1804600  11552.654974
18047  1804700  11538.954369
18048  1804800  11534.487392
18049  1804900  11534.323946
18050  1805000  11524.496484
18051  1805100  11540.806354
18052  1805200  11545.023608
18053  1805300  11542.187210
18054  1805400  11542.277351
18055  1805500  11556.266361
18056  1805600  11555.758277
18057  1805700  11566.635124
18058  1805800  11569.152536
18059  1805900  11569.096662
18060  1806000  11557.308763
18061  1806100  11555.449243
18062  1806200  11560.547601
18063  1806300  11561.830217
18064  1806400  11560.607155
18065  1806500  11559.559909
18066  1806600  11554.673610
18067  1806700  11558.951874
18068  1806800  11558.562882
18069  1806900  11562.007394
18070  1807000  11564.359304
18071  1807100  11559.519743
18072  1807200  11567.435688
18073  1807300  11571.800957
18074  1807400  11577.638923
18075  1807500  11580.557457

[18076 rows x 2 columns]